:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1746a2;
  text-decoration: inherit;
}
a:hover {
  color: #ffd700;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #fff;
  color: #213547;
}

h1,
h2 {
  color: #1746a2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffd700;
  color: #1746a2;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1746a2;
  background: #fff;
  color: #1746a2;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
